// Document: catalog-filter-section.scss

.catalog-filter-section {
    @include flex-parent($flex-direction: column);         // centers "apply" button
    @include border-radius-min();

    height: 100%;

    padding: {
        top: $spacing-xxmedium;
        left: $spacing-medium;
        right: $spacing-medium;
        bottom: $spacing-xxxmedium;
    }

    overflow: hidden;
    background-color: #fff;
    border-top: 4px solid $color-jobs-theme;
}