//- Document: _config.jade

- var metaViewportContent = "width=device-width=1, initial-scale=1.0"

- var pageTitle = "Morbax-HR"

- var googlefonts = "Open+Sans:400,300,300italic,400italic,600,700italic,800,800italic,600italic,700&subset=cyrillic-ext,latin"

-var globalStyleSheet = "../../../css/global.css"

- var jquery = false

- var javascripts = false