block config
    include ../_helpers/_config

doctype
html
    head
        // Page title
        block page-title
            title #{pageTitle}

        // Meta tags
        block meta-tags
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            meta(name="viewport" content=metaViewportContent)

        // Stylesheets
        block stylesheets
            link(rel="stylesheet" href=globalStyleSheet)

        // Fonts
        if googlefonts
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=" + googlefonts)

        // JavaScripts
        if jquery
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

        if javascripts
            script(src="../../../js/main-scripts.js")


    body

        // Page header
        block page-header
            include ../_modules/page-header/page-header




        // Main
        main
            .layout-main-container
                block layout-type
                    // .layout-aside-left



        // Page footer