// Document: _catalog-styles.scss

@import "_themes/themes";
@import "_helpers/flexbox";
@import "_helpers/mixins";
@import "_helpers/variables";
@import "_helpers/spacing_n_sizing";
@import "_helpers/typography";


// page partials
@import "_page-partials/catalog-filter-section";
@import "_page-partials/catalog-search-section";
@import "_page-partials/catalog-search-results-section";
@import "_page-partials/catalog-card";


// modules
@import "_modules/_btn__aply.scss";
@import "_modules/personal-skills";
@import "_modules/add-to-fav__catalog";
@import "_modules/card-status__catalog";


// themes
@import "_themes/personal-skills--themes";



.catalog-theme--jobs {
    @include flex-parent($justify-content: space-between);
}

.layout-aside-left--sidebar {
    width: 330px;
    height: 100vh;
}

.layout-aside-left--main-container {
    width: 840px;
    height: 100vh;
}