//- Document: catalog.jade

extends ../../_layouts/_morbax-layout

append config
    - var pageTitle = "Catalog"

append stylesheets
    link(rel="stylesheet" href="../../../css/catalog-styles.css")



// Layout-type:
block layout-type

    .layout-aside-left

        // Catalog theme:
        .catalog-theme--jobs

            .layout-aside-left--sidebar
                include _page-partials/_catalog-filter-section



            .layout-aside-left--main-container
                include _page-partials/_catalog-search-section



                include _page-partials/_catalog-search-results-section