//- Document: page-header.jade

// Page header
header.page-header

    // Page header main
    .page-header-main
        .page-header--container

            a.page-header__morbax-logo(href="#")


            // add .is-active to "ul > li > a" when active
            ul.page-header-main--links
                li
                    a.page-header-main__vacancies-link(href="#")
                        .page-header-main__link-title Jobs
                        .page-header-main__link-index 999 999+
                li
                    a.page-header-main__resume-link(href="#")
                        .page-header-main__link-title Resumes
                        .page-header-main__link-index 999 999+
                li
                    a.page-header-main__projects-link(href="#")
                        .page-header-main__link-title Projects
                        .page-header-main__link-index 999 999+
                li
                    a.page-header-main__freelancers-link(href="#")
                        .page-header-main__link-title Freelancers
                        .page-header-main__link-index 999 999+
                li
                    a.page-header-main__experts-link(href="#")
                        .page-header-main__link-title Experts
                        .page-header-main__link-index 999 999+


    // Page header secondary
    .page-header-secondary
        .page-header--container

            ul.page-header-secondary--left-section
                li
                    a.page-header-secondary__blog-link(href="#") Blog
                li
                    a.page-header-secondary__events-link(href="#") Events

            ul.page-header-secondary--center-section
                li
                    a.page-header-secondary__companies-link(href="#") Companies
                li
                    a.page-header-secondary__education-link(href="#") Education

            a.page-header-secondary__link-to-my-profile(href="#") My Profile
