// Document: _spacing-n-sizing.scss

$spacing-xxsmall: .25rem;
$spacing-xsmall: .5rem;
$spacing-small: .75rem;

$spacing-medium: 1rem;
$spacing-xmedium: 1.25rem;
$spacing-xxmedium: 1.5rem;
$spacing-xxxmedium: 1.75rem;

$spacing-large: 2rem;
$spacing-xlarge: 2.5rem;
$spacing-xxlarge: 3rem;



// Sizing

$layout-main-container__width: 1200px;