// Document: _typography.scss

// Font size:

$font-size-xxsmall: .625rem;
$font-size-xsmall: .8rem;
$font-size-small: .875rem;

$font-size-medium: 1rem;
$font-size-xmedium: 1.125rem;
$font-size-xxmedium: 1.25rem;
$font-size-xxxmedium: 1.5rem;

$font-size-large: 2rem;
$font-size-xlarge: 2.5rem;
$font-size-xxlarge: 3rem;



// Font weight:

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;



// Text color:

$text-color-std: #333;
$text-color-666: #666;
$text-color-999: #999;

$text-color-expert: #52a7cc;
$text-color-red: $color-red-alpha;
$text-color-green: #5cb85c;