//- Document: _catalog-search-section.jade

// Catalog search section
.catalog-search-section
    form.catalog-search-section--form
        .catalog-search-section--input-wrap
            input.catalog-search-section__input-field(type="search" placeholder="Find a job")
            input.catalog-search-section__search-btn(type="submit" value="")