//- Document: _catalog-search-results-section.jade

// Catalog search results section
.catalog-search-results-section

    // if no results
    //.search-results--no-results Sorry, we have no result for you

    include _catalog-card--company
    include _catalog-card--expert
    include _catalog-card--freelancer
    include _catalog-card--project
    include _catalog-card--resume
    include _catalog-card--job