//- Document: _catalog-card--expert.jade

.catalog-card--expert

    .catalog-card--expert__wrapper

        .flex-container
            .catalog-card--avatar-block
                a.avatar-link(href="#expert")
                    img.avatar-picture(src="../../../images/avatar/avatar_no-image__126x126.png")

                .posted Posted: 2 hrs ago



            .catalog-card--main-info-block
                a.card-title(href="#expert") Google Ltd.

                .info-container
                    .location-n-reviews
                        .location California
                        .reviews
                            .reviews__positive +91
                            .reviews__divider /
                            .reviews__negative -32

                    .estimation-details
                        .estimators-amt 23
                        .estimated-users-amt 3095

                    .job-success-rate
                        .job-success-rate__title Rating 52856
                        .visualization

        .catalog-card--description-block.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco



        include ../../../_modules/_personal-skills



    .professions-specialized-in-block
        .professions-specialized-in__title Professions specialized in:
            ul.professions-specialized-in--list
                li.professions-specialized-in--item Programmer
                li.professions-specialized-in--item Programmer Asp.net



    include ../../../_modules/_add-to-fav__catalog