//- Document: _catalog-card--project.jade

.catalog-card--project
    a.card-title(href="#project").
        I need a responsive listing website developed with Geolocation listing website developed with Geolocation
        Capability

    .money $ 20 000


    .catalog-card--description-block.
        Hi, I am looking for an experienced web developer to design a responsive listing website
        on WordPress, with Geo-Location capability.


    .flex-container
        .posted Posted: 2 hrs ago
        .author John Smith



    include ../../../_modules/_personal-skills



    include ../../../_modules/_add-to-fav__catalog
    include ../../../_modules/_card-status__catalog