//- Document: _catalog-card--company.jade

.catalog-card--company

    .flex-container
        .catalog-card--avatar-block
            a.avatar-link(href="#company")
                img.avatar-picture(src="../../../images/avatar/avatar_no-image__126x126.png")

            .posted Posted: 2 hrs ago



        .catalog-card--main-info-block
            a.card-title(href="#company") Timberhorn IT Solutions

            .info-container
                .location-n-reviews
                    .location California
                    .reviews
                        .reviews__positive +91
                        .reviews__divider /
                        .reviews__negative -32

                .portfolio-details
                    .works-amt 2095
                    .portfolio-amt 3095

                .job-success-rate
                    .job-success-rate__title Rating 52856
                    .visualization

    .catalog-card--description-block.
        We are a digital agency looking for a pool of creative web designers to call upon once we need to
        outsource our demand. Kindly check our our website: www.grow.ae ...



    include ../../../_modules/_personal-skills


    include ../../../_modules/_add-to-fav__catalog
    include ../../../_modules/_card-status__catalog