//- Document: _catalog-card--job.jade

.catalog-card--job

    .flex-container
        .catalog-card--avatar-block
            a.avatar-link(href="#job_offer")
                img.avatar-picture(src="../../../images/avatar/avatar_no-image__126x126.png")
            .posted Posted: 2 hrs ago



        .catalog-card--main-info-block
            a.card-title(href="#job_offer") Senior UX & Web Designer for Web Design Projects
            .location California
            .company Timberhorn IT Solutions
            .money
                .money__index $ 20 000
                .money__type Fixed price



    .catalog-card--description-block.
        We are a digital agency looking for a pool of creative web designers to call upon once we need to
        outsource our demand. Kindly check our our website: www.grow.ae ...



    include ../../../_modules/_personal-skills



    include ../../../_modules/_add-to-fav__catalog
    include ../../../_modules/_card-status__catalog