//- Document: _catalog-card--resume.jade

.catalog-card--resume

    .flex-container
        .catalog-card--avatar-block
            a.avatar-link(href="#resume")
                img.avatar-picture(src="../../../images/avatar/avatar_no-image__126x126.png")
            .posted Posted: 2 hrs ago



        .catalog-card--main-info-block
            a.card-title(href="#resume") Bastian Schweinsteiger
            .occupation Temporary Part-Time Student Services

            .info-container
                .location-n-age
                    .location California
                    .age 24 years old

                .type-of-work
                    ul
                        li Part time work
                        li Freelancing



    include ../../../_modules/_personal-skills



    include ../../../_modules/_add-to-fav__catalog
    include ../../../_modules/_card-status__catalog