//- Document: _catalog-card--freelancer.jade

.catalog-card--freelancer

    .flex-container
        .catalog-card--avatar-block
            a.avatar-link(href="#freelancer")
                img.avatar-picture(src="../../../images/avatar/avatar_no-image__126x126.png")
            .global-hr-rating 9

            .posted Posted: 2 hrs ago



        .catalog-card--main-info-block
            a.card-title(href="#freelancer") Philip Williams

            .info-container
                .location-n-age
                    .location California
                    .age 24 years old

                .money-n-hours
                    .money
                        .money__index $ 20
                        .money__type Per hour

                    .hours 12 hours

                .job-success-rate
                    .job-success-rate__title 50% Job Success
                    .visualization



    .catalog-card--description-block.
        Been professionally programming for 11 years • Experience with C/C++, Java, Javascript,
        Ruby, SQL.



    include ../../../_modules/_personal-skills



    include ../../../_modules/_add-to-fav__catalog
    include ../../../_modules/_card-status__catalog



    // add class .is-busy if busy
    //.if-available Free
    .if-available.is-busy Busy