//- Document: _personal-skills.scss

.personal-skills-container {
    @include flex-parent();

    &.w-800 {
        #{$owl-selector} { margin-left: $spacing-xxmedium }
    }
}

.personal-skills-container {
    & > *:nth-child(n+5) { margin-top: 1rem; }
    & > *:nth-child(4n+5) { margin-left: 0; }
}

.personal-skills--skill-item {
    @include border-radius-min();
    @include box-shadow(0, 0, 1px, 0, rgba(0, 0, 0, 0.5));

    width: 180px;
    font-size: $font-size-xsmall;
    border: 1px solid $color-gray-bravo;
}

.personal-skills__skill-name {
    @include truncate;

    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid $color-gray-bravo;
}

.personal-skills__skill-scale { @include flex-parent(); }

.personal-skills__index {
    width: 10%;
    height: 25px;
    line-height: 25px;
    color: #999;
    text-align: center;

    &.is-active { color: #fff; }
}