$width-tablet: 1023px;
$width-mobile: 767px;

@mixin media($type) {

    @if $type == tablet {
        @media only screen and (max-width: $width-tablet) { @content }
    }

    @else if $type == mobile {
        @media only screen and (max-width: 767px) { @content }
    }
}

/*
Use exmples:

#content {

  width: 960px;

  @include media(tablet) {
    width: 720px;
  }

  @include media(mobile) {
    width: 90%;
  }

}*/
