//- Document: _personal-skills.jade

.personal-skills-container.theme--companies.w-800
    .personal-skills--skill-item.is-not-estimated
        .personal-skills__skill-name HTML
        .personal-skills__skill-scale
            .personal-skills__index.is-active 1
            .personal-skills__index.is-active 2
            .personal-skills__index.is-active 3
            .personal-skills__index.is-active 4
            .personal-skills__index.is-active 5
            .personal-skills__index 6
            .personal-skills__index 7
            .personal-skills__index 8
            .personal-skills__index 9
            .personal-skills__index 10

    .personal-skills--skill-item
        .personal-skills__skill-name JavaScript
        .personal-skills__skill-scale
            .personal-skills__index.is-active 1
            .personal-skills__index.is-active 2
            .personal-skills__index.is-active 3
            .personal-skills__index.is-active 4
            .personal-skills__index.is-active 5
            .personal-skills__index 6
            .personal-skills__index 7
            .personal-skills__index 8
            .personal-skills__index 9
            .personal-skills__index 10

    .personal-skills--skill-item
        .personal-skills__skill-name Python
        .personal-skills__skill-scale
            .personal-skills__index.is-active 1
            .personal-skills__index.is-active 2
            .personal-skills__index.is-active 3
            .personal-skills__index.is-active 4
            .personal-skills__index.is-active 5
            .personal-skills__index 6
            .personal-skills__index 7
            .personal-skills__index 8
            .personal-skills__index 9
            .personal-skills__index 10

    .personal-skills--skill-item
        .personal-skills__skill-name Ruby
        .personal-skills__skill-scale
            .personal-skills__index.is-active 1
            .personal-skills__index.is-active 2
            .personal-skills__index.is-active 3
            .personal-skills__index.is-active 4
            .personal-skills__index.is-active 5
            .personal-skills__index 6
            .personal-skills__index 7
            .personal-skills__index 8
            .personal-skills__index 9
            .personal-skills__index 10

    .personal-skills--skill-item
        .personal-skills__skill-name Photoshop
        .personal-skills__skill-scale
            .personal-skills__index.is-active 1
            .personal-skills__index.is-active 2
            .personal-skills__index.is-active 3
            .personal-skills__index.is-active 4
            .personal-skills__index.is-active 5
            .personal-skills__index 6
            .personal-skills__index 7
            .personal-skills__index 8
            .personal-skills__index 9
            .personal-skills__index 10