.personal-skills-container {

    &.theme--jobs {
        $color: $color-jobs-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }


    }

    &.theme--resumes {
        $color: $color-resumes-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }
    }

    &.theme--projects {
        $color: $color-projects-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }
    }

    &.theme--freelancers {
        $color: $color-freelancers-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }
    }

    &.theme--companies {
        $color: $color-companies-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }
    }

    &.theme--experts {
        $color: $color-experts-theme;

        .is-active { background-color: $color; }

        .is-not-estimated .is-active { background-color: lighten($color, 20%); }
    }
}