// Document: _themes.scss

// gray:
$color-gray-alpha: #eee;
$color-gray-bravo: #c6c6c6;
$color-gray-charlie: #dfdfdf;



// red:
$color-red-alpha: #ec6446;



// colors for styling:
$color-coral: #ff9876;
$color-yellow: #fff0b0;
$color-blue: lighten(dodgerblue, 20%);
$color-green: lighten(forestgreen, 50%);



// Morbax-HR themes

$color-jobs-theme: #f78241;
$color-resumes-theme: #6bb87a;
$color-projects-theme: #75a9b6;
$color-freelancers-theme: #ab75b6;
$color-companies-theme: #e67e22;
$color-experts-theme: #54acd2;



// Morbax-HR shadows

$shadow-gray__light: rgba(0, 0, 0, .2);